.barra{
    height: 80px;
    background: #00A885;
    font-family: Berlin Sans FB;
    padding-top: 5px;
}

.titulo{
    margin-top: 0px;
    font-size: 50px;
    color: white;
}

.iconoSalir{
    font-size: 20px;
    float: right;
    margin-top: 25px;
    margin-right: 30px;
}

.centro{
    text-align: center;
}

.iconoAgregar{
    width: 50px;
    height: 50px;
}